<div class="grid p-3">
  <div class="col-12 mt-5 md:col-6 md:col-offset-3 md:mt-8">
      <div class="flex flex-column">
          <button mat-button mat-flat-button color="primary" class="p-5 m-3"
              routerLink="/encuesta/formulario">
              <mat-icon>check_circle</mat-icon>
              Encuesta
          </button>
          <button mat-button mat-flat-button color="primary" class="p-5 m-3"
              routerLink="/encuesta/resultados">
              <mat-icon>bar_chart</mat-icon>
              Resultados
          </button>
      </div>
  </div>
</div>

